## Ignore jupyter crap
.ipynb_checkpoints

## Ignore venv and python crap
**/__pycache__

## Ignores data
*.csv
*.xlsx

## Ignores results
*.png
Results/
Test_PCA.ipynb
Ponderation-Normalization-PCA.ipynb
Ponderation-Normalization-PCA.ipynb
